

<!-- Primer Carrusel con Ofertas -->
<div class="container-fluid my-4">
  <h2 class=" text-center mb-4">Disfruta de Nuestras Ofertas</h2>
  <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
    <div class="carousel-inner">
      <div *ngFor="let product of Product; let isFirst = first"
        [ngClass]="{'carousel-item': true, 'active': isFirst}">
        <div class="carousel-item-inner">
          <img [src]="product.image" class="d-block w-100" [alt]="product.name">
          <div class="carousel-caption d-block">
            <div class="caption-content">
              <h5 class="display-4">{{ product.name }}</h5>
              <p class="display-6">Special offer: {{ product.price }}</p>
              <button class="btn btn-primary" >Show Description</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Indicadores del carrusel -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  </div>
</div>



<!-- Segundo Carrusel con Tarjetas (3 tarjetas por diapositiva) -->
<div class="container-fluid my-4">
  <h2 class="text-center mb-4">Conoce nuestros Products</h2>
  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
 
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4">
              <img [src]="Product[0].image" class="card-img-top" [alt]="Product[0].name">
              <div class="card-body">
                <h5 class="card-title">{{ Product[0].name }}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img [src]="Product[1].image" class="card-img-top" [alt]="Product[1].name">
              <div class="card-body">
                <h5 class="card-title">{{ Product[1].name }}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img [src]="Product[2].image" class="card-img-top" [alt]="Product[2].name">
              <div class="card-body">
                <h5 class="card-title">{{ Product[2].name }}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Repite para los slides adicionales -->
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card mb-4">
              <img [src]="Product[0].image" class="card-img-top" [alt]="Product[0].name">
              <div class="card-body">
                <h5 class="card-title">{{ Product[0].name }}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img [src]="Product[1].image" class="card-img-top" [alt]="Product[1].name">
              <div class="card-body">
                <h5 class="card-title">{{ Product[1].name }}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">Add to Cart</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <img [src]="Product[2].image" class="card-img-top" [alt]="Product[2].name">
              <div class="card-body">
                <h5 class="card-title">{{ Product[2].name }}</h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-success">Add to Cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Pie de Página -->
<footer class="text-center py-4 bg-dark text-light">
  <p>&copy; 2024 Chocolate Company. All rights reserved.</p>
</footer>
